* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color:  #15202B;
}

div.main-user-profile-div {
    background-color: inherit;
    height: 500px;
    width: 500px;
}