* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
button.add-button {
    width: 68px;
    height: 34px;
    font-size: 16px;
    padding: 0.5rem;
    font-weight: 400;
    background: #007BFF;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    order: 2;



}
button.add-button:disabled {
    background-color: gray;
}