* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
button.add-button {
    /* position: absolute;
    width: 68px;
    height: 34px;
    left: 889px;
    top: 131px; */
    font-size: 16px;
    padding: 1rem 1.5rem;
    font-weight: 400;
    background: #007BFF;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;

}
