* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.note-div {
    position: absolute;
    top: 205px;
    left: 367px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 15px;
    /* padding: auto; */
    /* align-items: left; */
    justify-content: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;



}
.note-card {
    margin-bottom: 15px;
    width: 600px;
    padding: 0;
    display: flex;
    flex-direction: column;
    border-radius: 6px; 
    background-color: #343A40;
}

.note-card .header {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;

}
/* .note-card .header button{
    padding: 0 0.6rem;
    margin: 0 .2rem;
    font-size: 1.5rem;
    font-weight: bolder;
    border: none;
    background-color: #f8d4c4;
} */

.note-card .card-content {
    color: #ffffff;
    padding: 1rem;
    font-size: 14px;
}
.note-card h2 {
    font-size: 14px;
    padding-top: 0.5rem;
    padding-left: 0.8rem;
    color: #6C757D;
    font-weight: 400;

}
